/* ========== Common Style ========== */
ul,
ol {
    list-style-type: none;
}

a {
    text-decoration: none;
}



body {
    color: #434455;
    background-color: #FFFFFF;
    font-family: "Roboto", sans-serif;
    font-weight: 500;

}

button {
    cursor: pointer;
    width: Hug (169px);
    height: Hug (56px);
    top: 88px;
    left: 20px;
    padding: 16px, 32px, 16px, 32px;
    border: none;
    border-radius: 4px; 
    gap: 10px;
    color: white;
    background: #404BBF;
    line-height: 1.5;
    letter-spacing: 0.04em
}

button:hover,
button:focus {
    width: Hug (170px);
    height: Hug (51px);
    border: none;
    color: white;
    background: #404BBF;
}

img {
    display: block;
}

/* ========== /Common Style ========== */

/* ========== Page header Style ========== */

.logo {
    font-family: "Raleway", sans-serif;
    line-height: 1.17;
    font-weight: 700;
    font-size: 18px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
        
}

.text-blau {
    color: #f4f4fd;
}

.list-adress {
    font-style: normal;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.contact {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.16667;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #2e2f42;
       
}

.contact:hover,
.contact:focus {
    color: #404BBF;
}

.menu-link{
    font-size: 16px;
    line-height: 1.5;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    letter-spacing: 0.02em;
    color: #434455;

}

.menu-link:hover,
.menu-link:focus {
    color: #404BBF;
}

.buthero {
    background-color: #4D5AE5;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
}

/* ========== /Page header Style ========== */

/* ========== Hero section Style ========== */
.main-title {

    font-weight: 700;
    font-size: 56px;
    line-height: 1.07143;
    letter-spacing: 0.02em;
    color: #ffff;
    text-align: center;
    line-height: 1.07;
        
}

.hero {
    background-color: #2e2f42;
}

/* ========== /Hero section Style ========== */

/* ========== Benefits section Style ========== */
.benefits {

}

.benefitshaeder {
    
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    font-weight: 500;
}

.benefits-description {
    color: #434455;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
/* ========== /Benefits section Style ========== */

/* ========== Team section Style ========== */
.team {
    background-color: #F4F4FD;

}
.teamhaeder {
    color: #2e2f42;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11111;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    text-align: center;
    line-height: 1.11;
} 

.itemteam {
    background-color: #FFFFFF;
}
.nameteam {
    color: #2e2f42;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    font-weight: 500;
}

.jobtitel {
    color: #434455;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
}
/* ========== /Team section Style ========== */

/* ========== Portfolio section Style ========== */
.portfolio {
    
}

.portfolioheader {
    color: #2e2f42;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11111;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    text-align: center;
    line-height: 1.11;
}
.portfolioname {
    color: #2e2f42;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    font-weight: 500;

}

.portfoliodescription {
    color: #434455;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.item-list {
    background-color: #FFFFFF;
    font-weight: 500;
}

/* ========== /section Style ========== */

/* ========== footer Style ========== */
.footerdescriptio {
    background-color: #2e2f42;
}
.description {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;

}
/* ========== /footer Style ========== */