/* ========== Common Style ========== */
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0;
    margin-bottom: 0;
}

ul,
ol {
    list-style-type: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

a {
    text-decoration: none;
}

body {
    background-color: #FFFFFF;
    font-family: "Roboto", sans-serif;
    font-weight: 400;

}

button {
    cursor: pointer;
  
    color: white;
    background: #404BBF;
    line-height: 1.5;
    letter-spacing: 0.04em;
    border: none;
    border-radius: 4px;
    min-width: 169px;
    padding-left: 636px;
    padding-right: 635px;
}

button:hover,
button:focus {
    
    color: white;
    background: #404BBF;
}

img {
    display: block;
    margin-bottom: 32px;
}

address {
    font-style: normal;
}
.container{
    width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}

.section {
    padding-top: 120px;
    padding-bottom: 120px;
}
/* ========== /Common Style ========== */

/* ========== Page header Style ========== */
.header {
    padding-top: 24px;
    padding-bottom: 24px;
    border-bottom: 1px solid #e7e9fc;
}

.header-flax {
    display: flex;
    justify-content: space-between;
   align-items: center;
}
.logo {
    font-family: "Raleway", sans-serif;
    line-height: 1.17;
    font-weight: 700;
    font-size: 18px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    margin-right: 76px;
}

.text-blau {
    color: #2e2f42;
}

.text-span {
    color: #f4f4fd;
}

.list-adress {
    font-style: normal;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.contact {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;      
}

.contact:hover,
.contact:focus {
    color: #404BBF;
}

.menu-link{
    font-size: 16px;
    line-height: 1.5;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    letter-spacing: 0.02em;
    color: #2e2f42;
    padding: 24px 0;

}

.menu-link:hover,
.menu-link:focus {
    color: #404BBF;
}

.header-nav {
    display: flex;
    gap: 76px;
    align-items: center;

}
.header-menu-list {
    display: flex;
    gap: 40px;
    align-items: center;
   
}
.munu-list-adress {
    display: flex;
    gap: 40px;
    align-items: center;

}
/* ========== /Page header Style ========== */

/* ========== Hero section Style ========== */
.main-title {

    font-weight: 700;
    font-size: 56px;
    line-height: 1.07143;
    letter-spacing: 0.02em;
    color: #ffff;
    text-align: center;
    line-height: 1.07; 
    max-width: 496px;
    margin: 0 auto;
    margin-bottom: 48px;
       
}

.hero {
    background-color: #2e2f42;
    padding-top: 188px;
    padding-bottom: 188px;
   
}

.buthero {
    min-width: 169px;
    background-color: #4D5AE5;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    padding-left: 32px;
    padding-right: 32px;
    height: 56px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
/* ========== /Hero section Style ========== */

/* ========== Benefits section Style ========== */

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.benefits {
    display: flex;
    gap: 24px;

}
.li-benefits {
    width: calc((100% - 72px) / 4);
}
.benefitshaeder {
    
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    font-weight: 500;
    margin-bottom: 8px;
}

.benefits-description {
    color: #434455;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
/* ========== /Benefits section Style ========== */

/* ========== Team section Style ========== */
.team {
    background-color: #F4F4FD;

}
.teamhaeder {
    color: #2e2f42;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11111;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    text-align: center;
    line-height: 1.11;
    margin-bottom: 72px;
} 

.team-disply {
  display: flex;
  gap: 24px;
}
.itemteam {
    background-color: #FFFFFF;
    border-bottom: 1px solid #e7e9fc;
    width: calc((100% - 72px) / 4);
    border-radius: 0px 0px 4px 4px;

}

.team-description {
    padding: 32px 0;
text-align: center;

}

.nameteam {
    color: #2e2f42;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    font-weight: 500;
    margin-bottom: 8px
}

.jobtitel {
    color: #434455;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
   
}
/* ========== /Team section Style ========== */

/* ========== Portfolio section Style ========== */
.portfolio {
    
}
.portfolio-disply {
    display: flex;
    flex-wrap: wrap;
    gap: 56px 24px;
   
   
}
.portfolioheader {
    color: #2e2f42;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11111;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    text-align: center;
    line-height: 1.11;
    margin-bottom: 72px;
    font-family: "Roboto", sans-serif;
}
.portfolioname {
    color: #2e2f42;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    font-weight: 500;

}

.portfoliodescription {
    color: #434455;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.item-list {
    background-color: #FFFFFF;
    font-weight: 500;
    row-gap: 48px;
    
    width: calc((100% - 48px) / 3);
}
.item-list-portfolio {
    margin-bottom: 48px
}
.portfolio-text {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
    margin-bottom: 8px
}



/* ========== /section Style ========== */

/* ========== footer Style ========== */
.footerdescriptio {
    background-color: #2e2f42;
    padding-top: 100px;
        padding-bottom: 100px;
}


.description {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
   max-width: 264px;
   padding-top: 16px;


}

.logo-footer {
    display: inline-block;
    margin-bottom: 16px;
}

/* ========== /footer Style ========== */

