/* ========== Common Style ========== */
h1, h2, h3, h4, h5, h6, p {
    margin-top: 0;
    margin-bottom: 0;
}

ul,
ol {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    list-style-type: none;
}

a {
    text-decoration: none;
    color: inherit;
    /* padding-top: 24px;
    padding-bottom: 24px; */
}

body {
    background-color: #FFFFFF;
    font-family: "Roboto", sans-serif;
    font-weight: 400;

}

button {
    cursor: pointer;
  
    color: white;
    background: #404BBF;
    line-height: 1.5;
    letter-spacing: 0.04em;
    border: none;
    border-radius: 4px;
    min-width: 169px;
    padding-left: 636px;
    padding-right: 635px;
  

}

button:hover,
button:focus {
    
    color: white;
    background: #404BBF;
}

img {
   display: block; 
}

.container {
    width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

/* ========== /Common Style ========== */

/* ========== Page header Style ========== */
.page-header {
    margin-top: 24px;
    margin-bottom: 24px;
    border-bottom: 1px solid #e7e9fc
}
.page-header-container {
    display: flex;
    gap: 40px;
}

.page-nav {
    align-items: center;
    display: flex;
    gap: 40px;
    justify-content: space-between;
}
.logo {
    font-family: "Raleway", sans-serif;
    line-height: 1.17;
    font-weight: 700;
    font-size: 18px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5; 
    margin-right: 76px;    
}

.text-blau {
    color: #2e2f42;
}

.menu {
    display: flex;
    gap: 40px;
}
.text-span {
    color: #f4f4fd;
}

.list-adress {
    font-style: normal;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.contact {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;      
}

.contact:hover,
.contact:focus {
    color: #404BBF;
}

.menu-link{
    font-size: 16px;
    line-height: 1.5;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    letter-spacing: 0.02em;
    color: #2e2f42;

}

.menu-link:hover,
.menu-link:focus {
    color: #404BBF;
}

.menu-punkt {
    padding: 24px 0;
}

/* ========== /Page header Style ========== */

/* ========== Hero section Style ========== */
/* .hero-container {
    padding-top: 166px;
    padding-bottom: 292px;
    padding-left: 472px;
    padding-right: 472px;
    height: 600px;
} */
.main-title {
   max-width: 496px;
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07143;
    letter-spacing: 0.02em;
    color: #ffff;
    text-align: center;
    line-height: 1.07;
        
}

.hero {
    background-color: #2e2f42;
    padding-top: 166px;
    padding-bottom: 292px;
    padding-left: 472px;
    padding-right: 472px;
    height: 600px;
    margin-bottom: 48px;
    padding: 188px 0;
}

.buthero {
    min-width: 169px;
    background-color: #4D5AE5;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    padding-left: 32px;
    padding-right: 32px;
    height: 56px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  
}
/* ========== /Hero section Style ========== */

/* ========== Benefits section Style ========== */
.container-benefits {
    /* padding-left: 156px;
    padding-top: 120px;
    padding-bottom: 120px;
    padding-right: 156px; */

}

.visually-hidden {
    visibility: hidden;
}
/* .benefits {
    max-width: 1128px;
    height: 104px;
    padding-left: 156px;
    padding-top: 120px;
    padding-bottom: 120px;
    padding-right: 156px;
} */

.list-benefits {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
   
}

.list-benefits-item {
    width: calc((100% - 72px) / 4);

}
.benefitshaeder {
    
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    font-weight: 500;
    margin-bottom: 8px;
}

.benefits-description {
    color: #434455;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
/* ========== /Benefits section Style ========== */

/* ========== Team section Style ========== */
.team {
    background-color: #F4F4FD;

}

.container-team {
    padding: 120px 0;
    

}
.teamhaeder {
    color: #2e2f42;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11111;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    text-align: center;
    line-height: 1.11;
    margin-top: 120px;
    margin-bottom: 72px;
    margin-left: 639px;
    margin-right: 639px;
    padding-top: 120px;
    padding-bottom: 72px;

} 

.list-team {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    justify-content: center;
}

.itemteam {

    background-color: #FFFFFF;
    border-radius: 0 0 4px 4px;
    padding: 0px 0px 32px 0px;
    width: calc((100% - 72px) / 4);
    height: 380px;
    /* margin-top: 120px; */
   
}


.nameteam {
    color: #2e2f42;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    
    font-weight: 500;
    text-align: center;
    margin-bottom: 8px
}

.jobtitel {
    color: #434455;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
}
/* ========== /Team section Style ========== */

/* ========== Portfolio section Style ========== */
.portfolio {
    padding-top: 120px;
    padding-bottom: 120px;
}

.list-portfolio {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
}
.portfolioheader {
    color: #2e2f42;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11111;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    text-align: center;
    line-height: 1.11;
    margin-bottom: 72px;
    margin-bottom: 8px;
    
}
.portfolioname {
    color: #2e2f42;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    font-weight: 500;

}

.portfoliodescription {
    color: #434455;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.item-list {
    background-color: #FFFFFF;
    font-weight: 500;
    border: 1px solid #e7e9fc;
    width: 360px;
    height: 420px;
    width: calc((100% - 48px) / 3);
    row-gap: 48px;
}

.item-team-name {
    padding-top: 32px;
    padding-bottom: 32px;
    display: flex;
        gap: 40px;
}

.item-list {}

/* ========== /section Style ========== */

/* ========== footer Style ========== */
.footerdescriptio {
    background-color: #2e2f42;
    width: 1440px;
    height: 312px;
    padding: 100px 0;
}
.description {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;

}

.footer-container {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
    padding: 100px 0;
    display: inline-block;

}

.logo-footer {
    display: inline-block;
    margin-bottom: 16px;
}
/* ========== /footer Style ========== */