/* ========== Common Style ========== */
ul,
ol {
    list-style-type: none;
}

a {
    text-decoration: none;
}

body {
    font-family: "Raleway", sans-serif;
    font-weight: 500;
    color: #2e2f42;
    background-color: #fafafa;
    
}

button {
    cursor: pointer;
    width: Hug (169px);
    height: Hug (56px);
    top: 88px;
    left: 20px;
    padding: 16px, 32px, 16px, 32px;
    border: none;
    border-radius: 4px; 
    gap: 10px;
    color: white;
    background: #404BBF;
}

button:hover,
button:focus {
    width: Hug (170px);
    height: Hug (51px);
    border: none;
    color: white;
    background: #4D5AE5;
}

img {
    display: block;
}

/* ========== /Common Style ========== */

/* ========== Page header Style ========== */

.logo {
    font-family: "Raleway", sans-serif;
        font-weight: 700;
        font-size: 18px;
        line-height: 1.16667;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        
}

.text-blau {
    color: #4d5ae5;
}

.contact {
    font-family: "Raleway", sans-serif;
        font-weight: 700;
        font-size: 18px;
        line-height: 1.16667;
        letter-spacing: 0.03em;
        text-transform: uppercase;
       
}

.contact:hover,
.contact:focus {
    color: #404BBF;
}

.menu-link:hover,
.menu-link:focus {
    color: #404BBF;
}

/* ========== /Page header Style ========== */

/* ========== Hero section Style ========== */
.main-title {
    font-family: "Roboto", sans-serif;
        font-weight: 700;
        font-size: 56px;
        line-height: 1.07143;
        letter-spacing: 0.02em;
        color: #ffff;
    text-align: center;
        
}

.hero {
    background-color: #2e2f42;
}

/* ========== /Hero section Style ========== */

/* ========== Benefits section Style ========== */
.benefits {

}

.benefitshaeder {
    font-family: "Roboto", sans-serif;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
}

.benefits-description {
    font-family: "Roboto", sans-serif;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
}
/* ========== /Benefits section Style ========== */

/* ========== Team section Style ========== */
.team {

}
.teamhaeder {
    font-family: "Roboto", sans-serif;
        font-weight: 700;
        font-size: 36px;
        line-height: 1.11111;
        letter-spacing: 0.02em;
        text-transform: capitalize;
        text-align: center;
} 

.nameteam {
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
}

.jobtitel {
    font-family: "Roboto", sans-serif;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
        text-align: center;
}
/* ========== /Team section Style ========== */

/* ========== Portfolio section Style ========== */
.portfolio {

}

.portfolioheader {
    font-family: "Roboto", sans-serif;
        font-weight: 700;
        font-size: 36px;
        line-height: 1.11111;
        letter-spacing: 0.02em;
        text-transform: capitalize;
        text-align: center;
}
.portfolioname {
    font-family: "Roboto", sans-serif;
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;

}

.portfoliodescription {
    font-family: "Roboto", sans-serif;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
}
/* ========== /section Style ========== */

/* ========== footer Style ========== */
.footerdescriptio {
    background-color: #2e2f42;
}
.description {
    font-family: "Roboto", sans-serif;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #f4f4fd;

}
/* ========== /footer Style ========== */